body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 170px;
    background-color: #4da1ff;
    background-image: url('../IMG/pattern.png');
}

#logo {
    width: 300px;
    margin-top: 80px;
    margin-left: 25%;
}

main {
    width: 50%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 2px;
    font-size: 40px;
}

.author p {
    margin: 0;
    font-size: 13px;
    color: #848484;
}

#date {
    margin-bottom: 20px;
}

#author-name {
    color: #1baae6;
}

.author-photo p {
    margin: 0;
    font-size: 13px;
}

.highlighted-content {
    background-color: #ffff00;
}

ul {
    padding-left: 15px;
}

th {
    padding-right: 200px;
    text-align: left;
    background-color: #1aaae6;
    color: #ffffff;
}

.row-table {
    background-color: #b2e6f2;
}

footer {
    width: 50%;
    margin: 0 auto;
}

footer h3 {
    color: #8e8e8e;
}

footer h2 {
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}

.img-footer1 {
    background-image: url('../IMG/monitor.jpg');
    width: 300px;
    height: 200px;
}

.img-footer2 {
    background-image: url('../IMG/graph.jpg');
    width: 300px;
    height: 200px;
}